* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#header {
  position: relative;
  .header__info {
    width: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    .header__title {
      font-size: 56px;
      font-weight: 700;
    }
    .desc {
      text-align: center;
      font-size: 18px;
      font-weight: 500;
    }
  }
}
#content {
  .container-1,
  .container-2 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .title {
      width: 100%;
      text-transform: uppercase;
      font-size: 24px;
      // border-bottom: 1px solid #000;
    }
    .item {
      width: calc(25% - 36px);

      .image {
        width: 100%;
        border-radius: 6px;
        overflow: hidden;
        img {
          width: 100%;
          object-fit: cover;
        }
      }
      .info {
        padding: 12px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        .title {
          font-size: 20px;
        }
        .price {
          color: #bb3e03;
          font-weight: 700;
          font-size: 18px;
        }
        .buy {
        padding: 6px 24px;
          border: none;
          background-color: #005f73;
          border-radius: 4px;
          color: #fff;
        }
      }
    }
  }
}
